.headerNav{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.headerNav a{
    color: white;
    text-decoration: none;
    margin-left: 36px;
    font-size: 17px;
}
.headerNav a:hover{
    color: orange;
}
.user-email{
    color: white;
    margin-left: 36px;
    font-size: 15px;
}
.btn-logout{
    margin-left: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.btn-logout:hover {
    background-color: orangered;
    color: white;
    cursor: pointer;
}